<div class="row-fluid">
  <div class="col-md-8 col-md-offset-2">
    <div id="instructions" class="page-header">
      <h2>Log in or Sign up to browse or list your widget. </h2>
      <span>Let's Get Shopping . . .</span>
    </div>
  </div>
</div>
